
.intro {
  display: inline-block;
  position: relative;
}

.intro img {
  display: block;
  width: 100%;
  height: auto;
}
.intro-text {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(15, 13, 13);
  text-align: center;
}
.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: serif;
}
.feature_box {
  background-color: rgba(85, 77, 69, 0.712);
  color: black;
  padding: 20px;
  text-align: center;
  width: 30%;
  height: auto;
  border-radius: 15px;
  margin: 10px 20px 200px 20px;
}
.feature_box p {
  margin-top: 30px;
}
.hot_deals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: serif;
}
.deals_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: 10px 200px;
}
.deal_container {
  background-color: rgba(54, 49, 44, 0.712);
  color: black;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}
.deal_container:hover {
  background-color: rgba(70, 63, 57, 0.712);
  cursor: pointer;
}
.deal_container img {
  width: 300px;
  height: auto;
  border-radius: 15px;
}
.deal-divider {
  border: 0;
  height: 3px;
  background-color: rgba(128, 128, 128, 0.637);
  margin: 2rem 0;
}