.intro {
  display: inline-block;
  position: relative;
}

.intro img {
  display: block;
  width: 100%;
  height: auto;
}
.intro-text {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(15, 13, 13);
  text-align: center;
}
.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: serif;
}

.feature_box {
  background-color: rgba(85, 77, 69, 0.712);
  color: black;
  padding: 20px;
  text-align: center;
  width: 30%;
  height: auto;
  border-radius: 15px;
  margin: 10px 20px 200px 20px;
}
.feature_box p {
  margin-top: 30px;
}
.hot_deals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: serif;
}
.deals_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin: 10px 5%;
  width: 90%;
}
.deal_container {
  background-color: rgba(54, 49, 44, 0.712);
  color: black;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  flex: 1 1 280px;
  max-width: 300px;
  height: auto;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.deal_container img {
  width: 100%;
  max-width: 280px;
  height: auto;
  border-radius: 15px;
  align-self: center;
  cursor: pointer;
}
.deal_container p {
  margin-bottom: -11px;
  cursor: pointer;
}
.deal-divider {
  border: 0;
  height: 3px;
  background-color: rgba(128, 128, 128, 0.637);
  margin: 1rem 0;
}
.deal-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.deal-bottom button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  font-weight: bold;
  font-size: 1rem;
  margin: 5px 5px 0px 5px;
  width: 100px;
}
.buy-btn{background-color: black;
color: white;
border: 2px solid black;
}
.buy-btn:hover {
 border-color: rgb(198, 187, 174);
}
.add-btn {background-color: rgba(19, 18, 18, 0);
color: rgb(198, 187, 174);
border: 2px solid rgb(198, 187, 174);}
.add-btn:hover {
  border-color: black;
  color: black;
}

@media (max-width: 750px) {
  .intro-text{
    transform: translate(-50%, -30%);
  }
}
@media (max-width:660px){
  .deals_row {
    margin: 10px;
  }
  .deal_container {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .features {display:flex;
  flex-direction: column;}
  .feature_box{width:90%;}
  .intro-text{
    transform: translate(-50%, -30%);
  }
}